<a [routerLink]="''">Home</a><span> | </span>
<a [routerLink]="'giphy-search-manual'">GiphySearchManual</a><span> | </span>
<a [routerLink]="'giphy-search-auto'">GiphySearchAuto</a><span> | </span>
<a [routerLink]="'contato'">contato</a><span> | </span>
<a [routerLink]="'diretiva-commom-module'">DiretivaCommomModule</a><span> | </span>
<a [routerLink]="'pipe'">Pipe</a><span> | </span>
<a [routerLink]="'change-detection'">Change Detection</a>

<div style="text-align:center">
    <span> {{ title }} </span>
</div>
<hr/>

<router-outlet></router-outlet>s