<form #f="ngForm" (ngSubmit)="enviarContato(f)">
  <p>
  <label>
    <span>Seu nome completo</span>
    <input id="nome" type="text" name="nomeCompleto" placeholder="Seu nome" #nomeCompleto="ngModel" ngModel minlength="2" required>
  </label>

  <span *ngIf="nomeCompleto.errors?.required && nomeCompleto.touched" class="error">
    O nome é obrigatório!
  </span>
  </p>
  <p>
  <label ngModelGroup="contato" #contatoUsuario="ngModelGroup">
      <span>Email</span>
      <input id="email" type="email" name="email" placeholder="Seu email" ngModel required>
  </label>
  </p>

  <button type="submit" [disabled]="f.invalid">Sign up</button>
</form>

<p>
  {{ nomeCompleto.errors | json}}
</p>

<p>
  {{ f.controls.nomeCompleto?.errors | json}}
</p>